<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.64.0" targetFramework="net40-Client" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40-Client" />
  <package id="JSON" version="1.0.1" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net40-client" />
</packages>